@require '../../_require'

#pallete
    button
        &.bg-red
            button(red)
            border-radius: 0
            border-top-left-radius: 4px
        &.bg-pink
            button(pink)
            border-radius: 0
        &.bg-purple
            button(purple)
            border-radius: 0
        &.bg-deep-purple
            button(deep-purple)
            border-radius: 0 4px 0 0

        &.bg-indigo
            button(indigo)
            border-radius: 0
        &.bg-blue
            button(blue)
            border-radius: 0
        &.bg-light-blue
            button(light-blue)
            border-radius: 0
        &.bg-cyan
            button(cyan)
            border-radius: 0

        &.bg-teal
            button(teal)
            border-radius: 0
        &.bg-green
            button(green)
            border-radius: 0
        &.bg-light-green
            button(light-green)
            border-radius: 0
        &.bg-lime
            button(lime)
            border-radius: 0

        &.bg-yellow
            button(yellow)
            border-radius: 0
        &.bg-amber
            button(amber)
            border-radius: 0
        &.bg-orange
            button(orange)
            border-radius: 0
        &.bg-deep-orange
            button(deep-orange)
            border-radius: 0

        &.bg-brown
            button(brown)
            border-radius: 0 0 0 4px
        &.bg-grey
            button(grey)
            border-radius: 0
        &.bg-blue-grey
            button(blue-grey)
            border-radius: 0
        &.bg-black
            button(black)
            border-radius: 0 0 4px 0

.container
    tag.bg-indigo
        tag($bg-color: indigo)
