@use 'sass:color';
@use 'sass:map';
@use '_ui';
@use '_mixin';
@use '_var';

#highlight {
    display: flex;
    flex-wrap: wrap;
    min-height: 40vh;
    align-content: center;
    justify-content: center;

    pkt-tag {
        h1 {
            line-height: 1;
            margin: 0.5rem;
        }
    }
    a.button {
        margin: 0.5rem;
    }
    a[el="github"] {
        @include ui.button($bg-color: color.adjust(white, $lightness: -10%));
    }
}

.markdown {
    h2 {
        border-bottom: 1px solid;
        margin-top: 2rem;
    }
}

#sample {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    pkt-card {
        background-color: #f2f2f2
    }
    table {
        max-width: 280px;
        width: 280px;
        tr {
            background-color: #f2f2f2;
        }
        td {
            text-align: center;
        }
    }
}

#features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #eee;
    padding: 2rem 0rem 5rem 0;
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        h2 {
            border-bottom: 1px solid;
            text-align: center;
            display: inline-flex;
        }
    }
    .row {
        display: flex;
        justify-content: center;
    }
    pkt-card {
        max-width: 600px;
        min-width: 280px;
        width: 90%;
        margin-top: 2rem;
        background-color: white;
        h3 {
            @include mixin.border-top-radius(4px);
            @include mixin.bg-color(color.adjust(black, $lightness: 10%))
        }
    }

    pkt-card[el="icon-system"] {
        [el="icons"] {
            font-size: 1.25rem;
            button {
                @include mixin.bg-int-color(#eee);
            }
            button:hover {
                color: map.get(var.$scheme, color-a1);
            }
        }
    }
}