@require '../_require'

#preview
    > div
        display: flex
        justify-content: center
        flex-wrap: wrap
    .bits-box-arrow
        padding: 0.5rem
        margin: 0.5rem
        &.top
            box-arrow(
                $arrow: top,
                $bg-color: $color-a1)
        &.right
            box-arrow(
                $arrow: right,
                $bg-color: $color-p)
        &.bottom
            box-arrow(
                $arrow: bottom,
                $bg-color: $color-a2)
        &.left
            box-arrow(
                $arrow: left,
                $bg-color: $color-t1)
    p.bits-box-arrow.top
        padding: 1rem
        margin: 0.5rem
        margin-top: 2rem
        box-arrow(
            $arrow: top,
            $bg-color: white,
            $arrow-size: 20px)
