@require '../../_require'

.flex
    display: flex
    flex-wrap: wrap
    .icon
        width: 50%
        padding: 0.8rem
        box-sizing: border-box
        display: flex
        align-items: center
        @media $md
            padding: 0.7rem
        @media $sm
            padding: 0.5rem
        bits-icon
            font-size: 2rem
        span
            margin-left: 1rem
