@require '../_require'

.flex
    display: flex
    justify-content: center
    align-items: center

.container > h1
    position: relative

input
    &[type="text"],
    &[type="email"],
    &[type="password"]
        margin-top: 1rem
        display: block
