@use 'sass:map';
@use '../../../_var';
@use '../../../_ui';

div[data-id="preview"] {
    display: flex;
    justify-content: center;
    align-items: center;
    pkt-switch {
        margin: 0.5rem
    }
    pkt-switch.color-p {
        @include ui.switch(map.get(var.$scheme, color-p));
    }
    pkt-switch.color-a2 {
        @include ui.switch(map.get(var.$scheme, color-a2));
    }
}