@require '../../../_require'

div[data-id="preview"]
    display: flex
    justify-content: center
    align-items: center
    bits-switch
        margin: 0.5rem
    bits-switch.color-p
        switch($color-p)
    bits-switch.color-a2
        switch($color-a2)
